[General]
ChannelLog=false
LocalServer=true
Motd=true
Network=false
RootServer=false
Stats=false
FloodDetectTime=16
FloodLimit=8
JoinFloodBanTime=120
JoinFloodDetectTime=60
JoinFloodLimit=3
ListenPort=7666
LogLevel=0
MaxLinks=10
MaxRepeatedMsgs=3
MaxUsers=0
MaxUsersPerIp=0
MotdMaxSize=2048
MuteTime=60
Numeric=0
StatsInterval=30
ListenAddress=0.0.0.0
MotdFile=motd.html
Name=
NetworkFile=network.xml
NormalizeFile=normalize.xml
StatsFile=stats.xml
Translation=auto
