a { color:#815d53; text-decoration:none; }
.sender, .sender a { color:#185074; }
.me, .meSender a { color:#cd00cd; }
.oldClientProtocol, .oldServerProtocol, .badNickName, .accessDenied, .disconnect { color:#da251d; }
.ts, .preSb, .newUser, .newUser a, .userLeft, .userLeft a, .away, .away a, .gr { color:#8797a3; }
.newUser a, .userLeft a, .meSender a { font-weight:bold; }
.ready { color:#6bb521; }
.info, .changedNick, .changedNick a { color:#5096cf; }
.changedNick a { font-weight:bold; }