* {
  word-wrap:break-word;
  word-break:break-word;
}
body {
  font-size:small;
  margin:0;
  padding:0;
  color:#002b3c;
}
a, a span[style] {
  text-decoration:none;
} 
a:link, a:visited {
  color:#815d53;
}
a:active {
  color:#858e93;
}
a span[style] { /* Fix Qt rich text */
  text-decoration:none !important;
  color:#815d53 !important;
}
.timestamp {
  font:"Courier New", Courier, monospace;
  color:#90a4b3;
  font-size:x-small;
  border-right:#bdc9d1 solid 1px;
}
.StatusMsgBlock {
  color:#8797a3;
  margin:1px;
  padding:0 1px;
  background-color:#fbfcff;
  -webkit-border-radius:4px;
  border:1px solid #f5f8ff;
  background:url(Images/StatusBg.png) top repeat-x;
}
.ServiceBlock {
  color:#002b3c;
  background-color:#f5f8ff;
  border:#dce2e6 solid 1px;
  -webkit-border-radius:5px;
  margin:1px 4px;
  padding:1px 4px;
}