@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 144dpi) {
  .navbar-brand {
    background-image: url(../img/schat2@2x.png);
  }

  .provider {
    background-image: url(../img/providers@2x.png);
  }

  .full-overlay > .spinner, .full-overlay > .spinner.three {
    background-image: url(../img/loader@2x.png);
    background-size: 80px 47px;
  }

  .full-overlay > .spinner.three {
    background-position: -47px 0;
  }

  .schat-icon {
    background-image: url(../img/schat-icons@2x.png);
  }
}