Source: schatd
Section: net
Priority: extra
Maintainer: Alexander Sedov <impomezia@gmail.com>
Build-Depends: debhelper (>= 7)
Standards-Version: 3.8.3
Homepage: http://impomezia.com

Package: schatd
Architecture: any 
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: IMPOMEZIA Simple Chat Daemon
 Simple cross-platform client-server chat for local networks and the Internet.
 with the possibility of individual settings for a specific network,.
 with open source code, written in Qt/C++.
